* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    background-color: hsl(214, 17%, 92%);
    padding: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
    width: 1300px;
    height: 800px;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    color: hsl(219, 29%, 14%);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .card .pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(34, 32, 32, 0.5);
  }
  
  .card h2 {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .card h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  
  .card-content {
    font-size: 0.8rem;

  }

  .first-card {
    background-color: hsl(263, 55%, 52%);
    color: white;
    grid-column: span 2;
    position: relative;
  }
  
  .first-card .quote {
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 70px;
    z-index: 0;
    opacity: 0.4;
  }
  
  .second-card{
    background-color: hsl(217, 19%, 35%);
    color: white;
  }
  
  .third-card {
    background-color: hsl(0, 0%, 100%);
    color: hsl(219, 29%, 14%);
  }
  
  .forth-card {
    background-color: hsl(219, 29%, 14%);
    color: white;
    grid-column: span 2;
    
  }
  .large-card{
    grid-row: 1/ span  2;
    grid-column: 4;
  }

    .card--dark {
      grid-column: span 1;
    }
  
